.container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:#ff6d85;
  background-color: #e2b5bb;
}
.card {
  margin: 1rem;
  padding: 1.5rem;
  box-shadow: 5px 8px #e2b5bb;
  border-radius: 10px;
  transition: transform .5s;
  cursor:pointer;
  width:300px;
  height:400px;
  background-color: #000;
}
.card:hover {
  transform: scale(1.1);
}
.main {
  background-color: #EFDADD;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  text-align:center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#000;
}
.img {
  width:300px;
  height:300px;
}

.ref:hover {
  color: #ff6021;
}
.product {
  width:200px;
  text-align: left;

}
.product:hover {
  transform: none;
}
.productContainer {
  text-align: left;
}
.pageContainer {
  background-color: #EFDADD;
  flex: 1;
  display: flex;
  text-align:center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#000;
}
.cartCard {
  width: 150px;
  height:200px;
  box-shadow: 1px 1px #e2b5bb;
}
.contentContainer {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  flex: 1;
  display: flex;
  text-align:center;
  flex-direction: column;
  justify-content: center;
  color:#000;
}